.main__footer {
    height: 5rem;
    border-radius: 5px;
    font-family: 'Squada One', cursive;
    font-size: 3rem;
    position: fixed;
    bottom: 0;
    width: 1000px;

    a:visited {
        color: $textcolor;
    }
}

.mentions {
    display: flex;
    width: 90%;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;
    margin: 0;
    margin-top: 1.2rem;

    li {
        color: $textcolor;
        text-transform: uppercase;
    }

    li:hover {
        font: none;
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
}
