.section__title--1 {
    color: $color-menu1;
}

.menu1 {
    &__icone1 {
    font-size: 5rem;
    margin-left: 44%;
    padding-top: 2rem;
    }
    &__icone2 {
        font-size: 3rem;
        margin-left: 35%;
    }    
}
.section__header--1 {
    span{
        border-bottom: 3px double $color-border;
    }
}