$color-principal: #579c87;
$secondary: #ffffff;
$textcolor: #fdcb46;
$color-menu: #fcf4eb;
$color-hover: #f9d5ad;
$color-shadow-menu: #e9d6c2;
$color-border: #5C0B2A;
$color-menu1: #de2e1f;

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;